:root {
  --x: 200px;
  --speed: 1;
}

.marquee-element {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: marquee;
  animation-duration: calc(var(--x) / (100 * var(--speed)) * 1s);
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-1px * var(--x)), 0, 0);
  }
}
